# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# MLflow
mlruns/
mlflow.db
mlflow-artifacts/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (if you don't want to push large data files)
*.csv
data/

# Models
models/
*.pth
*.joblib
*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
